.content {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;

    .alert {
        color: white;
        padding: 10px;
        margin-bottom: 10px;
        &.success {
            background-color: green;
        }
        &.danger {
            background-color: red;
        }

        button {
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;
            margin-left: 10px;
        }
    }
}