.container {
    position: relative;
    .dropdown {
        display: inline-block;
        position: relative;
        border: 1px solid black;
        background-color: white;
        color: black;
        cursor: pointer;
        border-radius: 4px;
    }

    .dropdown.open .selection {
        border-bottom: none;
    }
      
    .selection {
        padding: 1px 5px 1px 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
      
    .options {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        left: -1px;
        width: 100%;
        border: 1px solid black;
        background-color: white;

        .option {
            &:hover{
                background-color: lightgray;
            }
        }
    } 
}
  

  