.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    .container {
        background-color: white;
        width: 600px;
        .title {
            padding: 20px 0;
            border-bottom: 1px solid black;
            color: black;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }
        .form {
            padding: 10px 25px 25px;
            .buttons {
                display: flex;
                justify-content: center;
                margin-top: 60px;
                gap: 60px;
            }
            .inputs {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .row {
                    display: flex;
                    gap: 10px;
                    .input {
                        flex-basis: 50%;
                    }
                }
            }
        }
    }
}