.content {
    padding: 140px 40px;
    .container {
        background-color: white;
        color: black;
        padding: 20px;
    }
    
    .actions {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 10px;
    }
}